/* footer */
.dynamsoft-footer { color: #606060 !important; font-family: OpenSans-Regular; box-sizing: border-box; width: 100%; }

.dynamsoft-footer .footer-top { height: 44rem; background: #3E3E3E; padding-top: 6rem; }
.dynamsoft-footer .footer-top ul { display: inline-block; list-style: none; vertical-align: top; padding: 0; }
.dynamsoft-footer .footer-top ul li.title { color: #FE8E14; font-size: 2rem; margin-bottom: 2rem; }
.dynamsoft-footer .footer-top ul li.subTitle { color: #CCCCCC; font-size: 1.8rem; line-height: 2.8rem; }
.dynamsoft-footer .footer-top ul li.item { color: #FFFFFF; cursor: pointer; font-size: 1.8rem; line-height: 2.8rem; }
.dynamsoft-footer .footer-top ul li.item:hover { color: #FE8E14; }
.dynamsoft-footer .footer-top .subscribeCnt { display: inline-block; width: 90.4%; }
.dynamsoft-footer .footer-top .subscribeCnt .SubscribeForm .SubscribeInput { display: inline-block; width: 68.8%; height: 5.5rem; border: 0; outline: none; font-size: 2rem; padding: 0 1.5rem; }
.dynamsoft-footer .footer-top .subscribeCnt .SubscribeForm button { background: #FE8E14; color: #ffffff; border: 0; outline: none; vertical-align: top; width: 31.2%; font-family: OpenSans-Semibold; cursor: pointer; height: 5.5rem; font-size: 2rem; }
.dynamsoft-footer .footer-top .subscribeCnt .shareList { margin-top: 5rem; }

.dynamsoft-footer .footer-bottom { height: 100%; background: #323234; }
.dynamsoft-footer .footer-bottom .dynamsoftLogo { display: inline-block; width: 138px; height: 33px; margin: 35px 0 0; background: url(../images/dynamsoft-logos/logo-dynamsoft-white.svg) no-repeat 0; }
.dynamsoft-footer .footer-bottom .rightMenu { margin: 0; }
.dynamsoft-footer .footer-bottom .rightMenu li { font-size: 18px; color: #999; display: inline-block; margin-left: 150px; }
.dynamsoft-footer .footer-bottom .rightMenu li:first-child { margin-left: 0; }

.dynamsoft-footer .shareList span { display: inline-block; width: 40px; height: 40px; border-radius: 50%; margin-right: 2rem; background: #606060; }
.dynamsoft-footer .shareList span:last-child { margin-right: 0rem; }
.dynamsoft-footer .shareList span a { display: block; width: 100%; height: 100%; border-radius: 50%; }
.dynamsoft-footer .shareList span a.linkedin { background: url('../images/icons/professional-network-linkedin.png') no-repeat center; }
.dynamsoft-footer .shareList span a.facebook { background: url('../images/icons/social-media-facebook.png') no-repeat center; }
.dynamsoft-footer .shareList span a.twitter { background: url('../images/icons/social-media-twitter.png') no-repeat center; }
.dynamsoft-footer .shareList span a.youtube { background: url('../images/icons/social-video-youtube.png') no-repeat center; }
.dynamsoft-footer .shareList span a.instagram { background: url('../images/icons/social-instagram.png') no-repeat center; }
.dynamsoft-footer .mobile-footer-top { background: #3E3E3E; padding: 23px 0; }
.dynamsoft-footer .mobile-footer-top .mobile-links { list-style: none; padding: 0; margin: 0; }
.dynamsoft-footer .mobile-footer-top .mobile-links li { display: inline-block; margin-right: 35px; font-size: 14px; }
.dynamsoft-footer .mobile-footer-top .mobile-links li:last-child { margin-right: 0; }
.dynamsoft-footer .mobile-footer-top p { margin-bottom: 20px; }
.dynamsoft-footer .mobile-footer-top .dynamsoftLogo { display: inline-block; width: 138px; height: 33px; background: url(../images/dynamsoft-logos/logo-dynamsoft-white.svg) no-repeat 0; }
.dynamsoft-footer .mobile-footer-top .shareList { margin-top: 25px; }
.dynamsoft-footer .mobile-footer-bottom { padding: 25px 0; background: #323234; font-size: 14px; }
.dynamsoft-footer .mobile-footer-bottom ul { list-style: none; margin: 0; padding: 0; }
.dynamsoft-footer .mobile-footer-bottom ul li { display: inline-block; margin-right: 40px; }
.dynamsoft-footer .mobile-footer-bottom ul li:last-child { margin-right: 0; }
.dynamsoft-footer .subscribe { position: relative; }
.dynamsoft-footer .subscribe .newsLetter { text-align: left !important; }
.dynamsoft-footer .ds-white { display: inline-block; background: url(../images/homepage/logo-dynamsoft-white.svg) no-repeat 50%; width: 102px; height: 25px; padding-left: 0px; }
.dynamsoft-footer .ct-ct { padding-left: 0px; text-align: left; line-height: 60px; padding-right: 0px; }
.dynamsoft-footer .big-icon a { display: inline-block; width: 30px; height: 30px; background: url(../images/homepage/icon-footer-socialMedia-30x30.png) no-repeat -5px top; }
.dynamsoft-footer .big-icon span { display: inline-block; width: 23%; padding-right: 10px; }
.dynamsoft-footer .big-icon .fb { background-position: -5px -40px; }
.dynamsoft-footer .big-icon .tw { background-position: -5px -80px; }
.dynamsoft-footer .big-icon .gg { background-position: -5px -120px; }
.dynamsoft-footer .big-icon .yt { background-position: -5px -160px; }
.dynamsoft-footer .big-icon .linkedIn:hover { background-position: -5px -200px; }
.dynamsoft-footer .big-icon .fb:hover { background-position: -5px -240px; }
.dynamsoft-footer .big-icon .tw:hover { background-position: -5px -280px; }
.dynamsoft-footer .big-icon .gg:hover { background-position: -5px -320px; }
.dynamsoft-footer .big-icon .yt:hover { background-position: -5px -360px; }
.dynamsoft-footer ul { list-style: none; margin: 0; padding: 0; }

#footerTop { padding: 40px 0 32px; background: #3E3E3E; }
#footerTop .products { width: 26%; }
#footerTop .resources { width: 23%; }
#footerTop .company { width: 20%; }
#footerTop ul { float: left; }
#footerTop ul li.title { margin-bottom: 16px; font-size: 14px; color: #fe8e14; line-height: 24px; font-family: Oswald-Regular; }
#footerTop .subscribe .newsLetter { margin-bottom: 16px; font-size: 16px; color: #ffffff; }
#footerTop .subscribe .form { position: relative; width: 100%; }
#footerTop .big-icon { display: block; }
#footerTop .subscribe .link { position: relative; margin: 16px 0 20px; }
#footerTop .subscribe .link span { display: inline-block; padding: 0 10px; text-align: center; }
#footerTop .subscribe .link a { color: #aaa; font-size: 13px; }
#footerTop .subscribe .form input { width: 69%; -webkit-appearance: none; float: left; padding-left: 8px; height: 38px; font-size: 16px; background: #ffffff; color: #323234; outline: none; border: 1px solid #ffffff; border-radius: 0; }
#footerTop .subscribe .form .d-btn { width: 30%; color: #fff; float: left; padding: 0; height: 38px; line-height: 34px; text-align: center; font-family: OpenSans-Regular; }
#footerTop .subscribe .shareList { text-align: left; margin-top: 30px; }
#footerTop .subscribe li { text-align: center; }
#footerTop .subscribe .socialMedia { text-align: left; }
#footerTop .small-icon a { display: inline-block; width: 25px; height: 20px; background: url(../images/homepage/icon-footer-socialMedia-20x20.png) no-repeat top; }
#footerTop .small-icon .linkedIn:hover { background-position: center -100px; }
#footerTop .small-icon .fb { background-position: center -20px; }
#footerTop .small-icon .fb:hover { background-position: center -120px; }
#footerTop .small-icon .tw { background-position: center -60px; }
#footerTop .small-icon .tw:hover { background-position: center -160px; }
#footerTop .small-icon .gg { background-position: center -40px; }
#footerTop .small-icon .gg:hover { background-position: center -140px; }
#footerTop .small-icon .yt { background-position: center -80px; }
#footerTop .small-icon .yt:hover { background-position: center -180px; }
#footerTop .big-icon span { display: inline-block; width: 35px; height: 20px; }

#footerBottom { background: #2a2a2b; font-size: 12px; line-height: 22px; height: 60px; text-align: center; }
#footerBottom .ct-lt { width: 25%; padding-right: 0px; text-align: left; padding-left: 0px; margin-top: 16px; }
#footerBottom .ct-rt { padding: 15px 0 0; margin-left: 20px; }
#footerBottom a { color: #aaa; text-decoration: none; }

a#toTop { display: none; position: fixed; z-index: 9; bottom: 30px; right: 2%; bottom: 3%; width: 46px; height: 45px; float: right; background: url(../images/homepage/icn-toTop-45X45.png) no-repeat top; transition: ease-in-out 0.2s; }


@media (max-width: 1199px) {
    .visible-xl { display: none; }
}

@media (max-width: 991px) {
    .dynamsoft-footer .visible-xl { display: none !important; }
}

@media (max-width: 767px) {
    .visible-xs { display: block !important; }
    .hide-xs { display: none !important; }
    .dynamsoft-footer #footerTop .subscribe { width: 100% !important; }
    .dynamsoft-footer .ct-ct { line-height: 22px !important; text-align: center !important; width: 100% !important; }
    .dynamsoft-footer .sm-mr10 { margin-right: 10px; }
    .dynamsoft-footer .hidden-xs { display: none !important; }
    #footerTop .subscribe .socialMedia { text-align: center; }
}

@media (min-width: 768px) {
    .visible-xs { display: none; }
    #footerTop .big-icon { text-align: left !important; }
    #footerTop .logo { display: none; }
    #footerBottom { padding: 0; color: #aaa; }
    #footerBottom .ds-white { width: 102px; height: 25px; }
}

@media (max-width: 991px) and (min-width: 768px) {
    .visible-sm { display: block !important; }
    .hidden-sm { display: none !important; }
    .dynamsoft-footer .small-icon a { display: inline-block; width: 30px; height: 30px; background: url(../images/homepage/icon-footer-socialMedia-30x30.png) no-repeat -5px top; }
    .dynamsoft-footer .small-icon span { display: inline-block; width: 20%; padding-right: 10px; }
    .dynamsoft-footer .small-icon .fb { background-position: -5px -40px; }
    .dynamsoft-footer .small-icon .tw { background-position: -5px -80px; }
    .dynamsoft-footer .small-icon .gg { background-position: -5px -120px; }
    .dynamsoft-footer .small-icon .yt { background-position: -5px -160px; }
    .dynamsoft-footer .small-icon .linkedIn:hover { background-position: -5px -200px; }
    .dynamsoft-footer .small-icon .fb:hover { background-position: -5px -240px; }
    .dynamsoft-footer .small-icon .tw:hover { background-position: -5px -280px; }
    .dynamsoft-footer .small-icon .gg:hover { background-position: -5px -320px; }
    .dynamsoft-footer .small-icon .yt:hover { background-position: -5px -360px; }

    .dynamsoft-footer .shareList span { display: inline-block; width: 35px; height: 35px; border-radius: 50%; margin-right: 2rem; background: #606060; }
    #footerTop .products { width: 35%; }
    #footerTop .resources { width: 22%; display: none; }
    #footerTop .company { width: 25%; }
    #footerTop .subscribe { width: 40%; }
    #footerTop ul li.subTitle { color: #CCCCCC; font-size: 14px; line-height: 24px; margin-bottom: 6px; }
    #footerTop ul > li { margin-bottom: 5px; }
    #footerTop ul > li:last-child { margin-bottom: 0; }
    #footerTop ul li.title { font-size: 16px; line-height: 26px; }
    #footerTop ul li a, #footerTop .subscribe .newsLetter { font-size: 14px; line-height: 24px; }
    #footerTop .small-icon span { display: inline-block; width: 35px; height: 20px; }
    .dynamsoft-footer .footer-bottom .dynamsoftLogo { width: 138px; height: 33px; margin: 20px 0 0; }
    .dynamsoft-footer .footer-bottom .rightMenu { margin: 0; height: 75px; line-height: 75px; margin-left: 160px; }
    .dynamsoft-footer .footer-bottom .rightMenu li { font-size: 14px; color: #999; display: inline-block; margin-left: 10px; }
    .dynamsoft-footer .footer-bottom .rightMenu li:first-child { margin-left: 0; }
    #footerTop .subscribe .form input { width: 69%; -webkit-appearance: none; float: left; padding-left: 14px; height: 34px; font-size: 14px; background: #ffffff; color: #606060; outline: none; border: 1px solid #ffffff; }
    #footerTop .subscribe .form .d-btn { width: 30%; color: #fff; float: left; padding: 0; height: 34px; line-height: 34px; text-align: center; font-family: OpenSans-Regular; font-size: 14px; }
    #footerTop .subscribe .shareList { text-align: left; margin-top: 30px; }
    #footerTop .products .item { padding-left: 18px; }
}

@media (min-width: 991px) {
    .dynamsoft-footer .shareList span { display: inline-block; width: 36px; height: 36px; border-radius: 50%; margin-right: 2rem; background: #606060; }
    #footerTop .products { width: 24%; }
    #footerTop .resources { width: 22%; }
    #footerTop .company { width: 23%; }
    #footerTop .subscribe { width: 31%; }
    #footerTop ul li.title { font-size: 16px; line-height: 26px; }
    #footerTop ul li.subTitle { color: #CCCCCC; font-size: 14px; line-height: 24px; margin-bottom: 6px; }
    #footerTop ul > li { margin-bottom: 5px; }
    #footerTop ul > li:last-child { margin-bottom: 0; }
    #footerTop ul li a, #footerTop .subscribe .newsLetter { font-size: 14px; line-height: 24px; }
    .dynamsoft-footer .small-icon { margin-top: 20px; }
    .dynamsoft-footer .small-icon { display: none; }
    .dynamsoft-footer .footer-bottom .dynamsoftLogo { width: 138px; height: 33px; margin: 20px 0 0; }
    .dynamsoft-footer .footer-bottom .rightMenu { margin: 0; height: 75px; line-height: 75px; margin-left: 260px; }
    .dynamsoft-footer .footer-bottom .rightMenu li { font-size: 14px; color: #999; display: inline-block; margin-left: 30px; }
    .dynamsoft-footer .footer-bottom .rightMenu li:first-child { margin-left: 0; }
    #footerTop .subscribe .form input { width: 69%; -webkit-appearance: none; float: left; padding-left: 14px; height: 42px; font-size: 16px; background: #ffffff; color: #606060; outline: none; border: 1px solid #ffffff; }
    #footerTop .subscribe .form .d-btn { width: 30%; color: #fff; float: left; padding: 0; height: 42px; line-height: 42px; text-align: center; font-family: OpenSans-Regular; font-size: 16px; }
    #footerTop .subscribe .shareList { text-align: left; margin-top: 30px; }
    #footerTop .products .item { padding-left: 18px; }
}

@media (min-width: 1200px) {
    #footerTop { padding: 48px 0 48px; }
    .dynamsoft-footer .shareList span { display: inline-block; width: 40px; height: 40px; border-radius: 50%; margin-right: 2rem; background: #606060; }
    #footerTop .products { width: 24%; }
    #footerTop .resources { width: 22%; }
    #footerTop .company { width: 23%; }
    #footerTop .subscribe { width: 31%; }
    #footerTop ul li.title { font-size: 18px; line-height: 28px; }
    #footerTop ul li.subTitle { color: #CCCCCC; font-size: 16px; line-height: 26px; margin-bottom: 6px; }
    #footerTop ul > li { margin-bottom: 5px; }
    #footerTop ul > li:last-child { margin-bottom: 0; }
    #footerTop ul li a, #footerTop .subscribe .newsLetter { font-size: 16px; line-height: 26px; }
    .dynamsoft-footer .footer-bottom .dynamsoftLogo { width: 138px; height: 33px; margin: 20px 0 0; }
    .dynamsoft-footer .footer-bottom .rightMenu { height: 75px; line-height: 75px; margin-left: 350px; }
    .dynamsoft-footer .footer-bottom .rightMenu li { font-size: 16px; color: #999; margin-left: 30px; }
    #footerTop .subscribe .form input { width: 69%; -webkit-appearance: none; float: left; padding-left: 14px; height: 46px; font-size: 18px; background: #ffffff; color: #606060; outline: none; border: 1px solid #ffffff; }
    #footerTop .subscribe .form .d-btn { width: 30%; color: #fff; float: left; padding: 0; height: 46px; line-height: 46px; text-align: center; font-family: OpenSans-Regular; font-size: 18px; }
    #footerTop .subscribe .shareList { text-align: left; margin-top: 30px; }
    #footerTop .products .item { padding-left: 20px; }
}

@media (min-width: 1680px) {
    #footerTop { padding: 60px 0 60px; }
    #footerTop .products { width: 24%; }
    #footerTop .resources { width: 22%; }
    #footerTop .company { width: 23%; }
    #footerTop .subscribe { width: 31%; }
    #footerTop ul li.title { font-size: 20px; line-height: 30px; }
    #footerTop ul li.subTitle { color: #CCCCCC; font-size: 18px; line-height: 26px; margin-bottom: 6px; }
    #footerTop ul > li { margin-bottom: 5px; }
    #footerTop ul > li:last-child { margin-bottom: 0; }
    #footerTop ul li a, #footerTop .subscribe .newsLetter { font-size: 18px; line-height: 26px; }
    .dynamsoft-footer .footer-bottom .dynamsoftLogo { width: 138px; height: 33px; margin: 35px 0 0; }
    .dynamsoft-footer .footer-bottom .rightMenu { height: 105px; line-height: 105px; margin-left: 450px; }
    .dynamsoft-footer .footer-bottom .rightMenu li { font-size: 18px; }
    #footerTop .subscribe .form input { width: 69%; -webkit-appearance: none; float: left; padding-left: 14px; height: 55px; font-size: 20px; background: #ffffff; color: #606060; outline: none; border: 1px solid #ffffff; }
    #footerTop .subscribe .form .d-btn { width: 30%; color: #fff; float: left; padding: 0; height: 55px; line-height: 55px; text-align: center; font-family: OpenSans-Regular;  font-size: 20px;}
    #footerTop .subscribe .shareList { text-align: left; margin-top: 30px; }
    #footerTop .products .item { padding-left: 22px; }
}


@media (min-width: 992px) {
    /*#subMenu { display: none!important; }*/
    .dynamsoft-footer .container { max-width: calc(100% - 40px); }
}

@media (min-width: 1200px) {
    .dynamsoft-footer .container { max-width: calc(100% - 100px); }
}

@media(min-width:1680px) {
    .dynamsoft-footer .container { max-width: 1630px }
}
