<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<style>
    .markdown-body .editLinkColour { color: #323234; vertical-align: middle; height: 24px; line-height: 24px; display: inline-block; }
    .markdown-body .editLinkColour:hover { color: #616167; }
    .homepageContainer {
        min-height: calc(100vh - 165px);
    }
    @media (max-width: 767px) {
        .homepageContainer {
            min-height: calc(100vh - 144px);
        }
    }
</style>

<body>
    <div class="headWrapper">
        {%- include page_header.html -%}
    </div>
    <div class="markdown-body homepageContainer container">
        <div class="row">
            <div class="col-12">
                <!-- <p class="pull-right">
                    {% capture sourceCodeUrl %}		
                    {% if page.url contains '.html' %}		
                        {{ page.url | strip | replace: '.html', '.md'}}		
                    {% else %}
                        {{ page.url	| strip }}index.md
                    {% endif %}
                    {% endcapture %}
                    <a href="{{ site.repositoryUrl }}{{ sourceCodeUrl | strip }}" class="editLinkColour">Edit<img src="{{ site.edit_icon }}" width="20px" height="15px" style="vertical-align: middle; margin-left: 5px; margin-top: -3px;" /></a>
                </p> -->
                {{ content }}
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        {%- include Footer.html -%}
    </div>

    <script>anchors.add();</script>
    <script>
        $('.tabList li').on('click', function() {
            let index = $(this).index();
            console.log($(this).index());
            $('.tabList li').removeClass('on');
            $(this).addClass('on');
            $('.tabContentList .tabContent').removeClass('on');
            $('.tabContentList .tabContent').eq(index).addClass('on');
        })
    </script>
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1070358440;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1070358440/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538F83"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-538F83');</script>
    <!-- End Google Tag Manager -->
    <!-- Marketo Asynchronous Tracking Code for www.dynamsoft.com -->
    <script type="text/javascript">
        (function () {
            var didInit = false;
            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('465-JJI-384', { asyncOnly: true });
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>
    <!-- Linkedin Insight Tag code for www.dynamsoft.com -->
    <script type="text/javascript">
        _linkedin_partner_id = "2567778";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function () {
            var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript"; b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);
        })();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2567778&fmt=gif" />
    </noscript>
</body>

</html>
